# Dependencies
node_modules

# Environment variables
.env

#testing files
backend/check_db.js
backend/debug_attendance.js
backend/list_students.js

# Logs
*.log
npm-debug.log*

# OS files
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
