/* main work */



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height:100%;
    width:100%;
    background-color: #030C1C;
    color:white;
}



/* nav work */

nav{
    width:100%;
    height:11%;
    display:flex;
    justify-content: space-between;
    padding:30px 30px;
    background-color: #0A1628;
}
nav .left{
    display: flex;
    gap:10px;
    letter-spacing: 1px;
    align-items: center;
    font-weight:bolder;
}
nav .right{
    display:flex;
    gap:20px;
    letter-spacing: 1px;
    color:#8Fa2C1;
    align-items: center;
}
nav .left span{
    background-color: #111C3A;
    color:#7B8DB5;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
nav .right span{
    color:#A5B4D6;
}
.main{
    position:relative;
    width:100%;
    height:89%;
}




/* page 1 work */




.components{
    background-color: #0E1A2B;
    margin:20px 52px;
    width:70%;
    max-width:800px;
    border-radius: 10px;
    display:flex;
    position:fixed;
    align-items: center;
    height:50px;
    justify-content: space-between;
    gap:5px;
    

}
.components p{
    height:50px;
    width:350px;
     /* background-color: purple;
     border:2px solid white; */
     display:flex;
     align-items: center;
    justify-content: center;
     border-radius: 10px;
}
.dashboard{
    background-color:#030C1C;
    display:flex;
    position:absolute; 
    margin:90px 50px;
    gap:25px;
    width:100%;   
    height:87%;
    /* z-index: 10; */
}
.days{
    margin-top:20px;
    background-color:#0E1A2B;
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    gap:5px;
    height:18%;
    font-size: larger;
}
#total{
    color:white;
}
#present{
    background-color:#001F24 ;
    color:#00E5A8;
}
#absent{
    background-color:#2A0010;
    color:#ff6B81;
}





/* Page 2 work from here */





.Attendence{
    position: absolute;
    background-color: #030C1C;
    height:89%;
    bottom:0;
    width:100%;
    display:flex;
    flex-direction: column;   
    justify-content: center;
    z-index: -1;
}
.attendence-main{
    
    width:92%;
    height:70%;
    background-color: #0E1A2B;
    margin-left:52px;
    border-radius: 10px;    
    /* padding-right: 20px; */
    display:flex;
    flex-direction: column;
    
}
.take{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.aleft{
    display:flex;
    gap:20px;
    align-items: center;
}
.aleft #selector{
    background-color: #030C1C;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid rgb(50, 49, 49);
    outline:none;
    font-size: medium;
    cursor:pointer;
}
.aleft input{
    background-color: #030C1C;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid rgb(50, 49, 49);
    outline:none;
    font-size: medium;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor:pointer;
}
.aleft button{
    background-color: white;
    color:black;
    padding: 8px 20px;
    border-radius: 10px;
    border:none;
    outline:none;
    font-size: large;
    cursor:pointer;
}
.status{
    display:flex;
    padding-left: 10px;
    align-items: center;
    background-color:#041127;
    width:100%;
    padding:15px;
}
.section{
    border-bottom: 1px solid;
}
.status .roll{
    flex:1;
     
}
.status .name{
   margin-left:150px;
    
    flex:3;
}
.status .state{
    gap:10px;

    display:flex;
    flex:2;
}
.button{
    padding:5px;
    border-radius: 6px;

}
.present{
    background-color:#001F24 ;
    color: #00E5A8;
}
.absent{
     background-color:#2A0010;
    color:#ff6B81;
}




/* Page 3 work start here */




.student{
    display:flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    bottom:0;
    background-color: #030C1C;
    width:100%;
    height:89%;
}
.Add-Student{
    width:60%;
    height:72%;
    background-color: #0E1A2B;
    display:flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding-top: 20px;
    border-radius: 10px;
}
.Add-Student h1{
    margin-left: 25px;
    font-weight: 500;
}
.full-name{
    display:flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    gap:10px;
}
.label1{
 display:flex;
 flex-direction: column;
 width:50%;
 gap:6px;
 font-weight: bold;
}
.label1 #name{
    width:100%;
    padding:10px;
    background-color:#030C1C;
    border-radius: 8px;
    outline: none;
    border: none;
    color:#A5B4D6;
    font-weight: bold;
    font-size: large;
}
.Temporary{
    display:flex;
    flex-direction: column;
    padding:10px 20px;
    gap:6px;
    font-weight: bold;
    font-size:large;
}
#Password{
    padding:10px;
    background-color:#030C1C;
    outline:none;
    border:none;
    border-radius: 8px;
    color:#A5B4D6;
     font-weight: bold;
    font-size: large;
}
.btn{
    padding:10px 20px;
    margin: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    cursor:pointer;
}