html,body{

    height: 100%;
  
}
body{
  
 font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
background-image: url(image2.jpeg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover; 
background-position:center;
}

#container{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    border: 1px solid rgba(255,255,255,0.2);;
    padding: 20px;
    font-size:2rem;
    line-height: 1.6;
    border-radius:15px;
    box-shadow: 5px 4px 5px black ;
    backdrop-filter: blur(10px);
    border: none;
}
#heading{
   font-size: 2.5rem;
   font-weight: bold;
   margin-bottom: 10px;
  

}
input{
     background: rgba(255,255,255,0.8);
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    cursor: text;

}
input::placeholder{
    background: linear-gradient(90deg, #032b58, #00f2fe);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    color: #6b7280;
  transition: 0.3s;
   


}
input:focus::placeholder {
  opacity: 0;
  transform: translateX(5px);
}
button{
margin-bottom: 10px;
padding: 10px 20px;
border-radius: 6px;
border:none;
font-size: 1.2rem;
font-weight: bold;
background-color: #032b58;
color:white;

}
button:hover{
    background-color:#011429 ;
}