* {
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width:100%;
height:100%;
font-family: Arial,sans-serif;
background:#101010;
}
#container{
    height: 100%;
    width:100%;
   
}
#navbar{
   height: 8%;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   border: 2px solid black;
   align-items: center;
   border: none;
   box-shadow: 2px 2px 3px black;
   background:linear-gradient(180deg,#13192F,#0F1528);
   


}
#nav-name{
    margin-left: 10px;
    color: white;

}
#nav-name i{
    border-radius: 15px;
    border: 1px solid black;
    padding:8px;
    color: #5a43de;
    background-color:#3a376f;
    margin-right: 10px;
    font-weight: bold;
    transition: 2s;

}
#nav-name i:hover{
  padding:10px;
  background-color: #09b0df;
   
}
#sign-out{
   color: white;
    margin-left: auto;
    margin-right:10px;
    transition: 2s; 
    display: inline-block;

     
}
#sign-out:hover{
  padding:10px;
  background-color: #0a6103;
  border-radius: 50%;
  text-shadow: 2px 3px 5px black;
  color:white
   
}

.content{
  height: 92%;
  width: 100%;
  display: grid;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 1fr;

  gap: 20px;
  padding: 10px;
}
.student-card{
  background-color: blue;
  grid-column: 1;
  grid-row: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
}

.box2{
  background-color: aqua;
  grid-column: 2;
  grid-row: 1;
  border-radius: 20px;
  box-shadow:0 6px 18px rgba(0,0,0,0.4);
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px ;
   background:linear-gradient(180deg,#13192F,#0F1528);
}

.box3{
  background-color: #3a0557;
  grid-column: 1 / 3; /* span both columns */
  grid-row: 2;
  border-radius: 16px;
  background:linear-gradient(180deg,#13192F,#0F1528);
  box-shadow:0 6px 18px rgba(0,0,0,0.4);
  padding:20px 24px;
  
}
.student-card{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
  border-radius: 12px;
  margin-top:20px;
 background:linear-gradient(180deg,#13192F,#0F1528);
}
.student-left{
  display: flex;
 align-items:center;
 gap:12px;
 font-size: 1.3rem;

}
.avatar{
  width:60px;
  height: 60px;
  border:1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background:linear-gradient(135deg,#7b5cff,#b46bff);
  color:white;
  padding: 30px 45px;
  font-weight: bold;

  border: none;
  


}
.stu-name{
  margin-bottom: 50px;
  color: whitesmoke;
  font-weight: 800;



}
.info-container{
  margin-top:40px;
 
  display: flex;
  

  gap:16px;
}
.info-box{
   background:#070707;
   min-width:150px;
   border-radius: 12px;
   padding: 12px 18px;
   box-shadow: 2px 2px 3px;
}
.label{
  display: block;
  color:#8b93b0;
   font-size:15px;
}
.value{
  margin-top:40px;
  color:white;
  
  
}
.attendance-info{
 text-align: center;
}
.attendance-title{
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  color:#8b93b0;
}
.attendance-percent{
 
  font-size: 62px;
  font-weight: bold;
  font-family:monospace ;
  margin-bottom: 30px;
  color:#22e6a8;
}
.attendance-days{
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  padding:6px 8px;
  color:#a2a8a5;
  background: #000;
  border-radius: 25px;
  gap:14px;
  box-shadow: 1px 3px 5px (0,0,0.6);

}
.dot{
  width:8px;
  height: 8px;
  border: 1px solid black;
  border-radius:50%;
   background:#077b56;
   margin-left:5px;


}
.history-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
}
.history-title{
  color:white;
  font-size:20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap:10px;

}
.arrow{
  padding: 6px 6px;
  border-radius: 6px 10px;
  background:#1c2540;
  color:#dfb1f7;
  margin-left: 5px;
  margin-top: 5px;
}
.month-switch{
  display:flex;
  align-items: center;
  gap:15px;
  padding:8px 14px;
  font-size:18px;
  border-radius:12px;
  background:#060606;
    color:#cdd3ff;
    margin-top:10px;

}
.nav{
  cursor: pointer;
  opacity: 0.7;

}
.calender{
  display: grid;
  grid-template-columns: repeat(7,180px);
  gap:16px;
  margin-top:12px;
  justify-content: center;
}
.day-name{
  color:#9dacdc;
  font-size:12px;
  text-align:center;
  letter-spacing:1px;
}
.hidden{
  visibility: hidden;
}
.date{
  height:90px;
  width: 180px;
  border-radius:14px;
  background:#030815;
  color:#8fa0d0;
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  padding:10px;
  font-weight:600;
  transition: 0.2s;

}
.date:hover{
  background:#121a33;
  transform:translateY(-2px);
}